<div class="container">
  <div class="image-product-wraper">
    <img [src]="url_image" alt="image of product">
  </div><!-- image-product-wraper -->

  <div class="infos-wraper">
    <div class="name-wraper info">
      <h1>{{ name_product }}</h1>
    </div><!-- name-wraper -->

    <div class="tennis-brand-wraper info">
      <h4>Tênis Air Jordan</h4>
    </div><!-- tennis-brand-wraper -->

    <div class="price-wraper info">
      <h3>R${{ price_product }}</h3>
    </div><!-- price-wraper -->
  </div><!-- infos-wraper -->
</div><!-- container -->
