.container{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.container > header{
  width: 100%;
  font-family: "Archivo", sans-serif;
}

header .title-wraper{
  padding: 10px;
}

header .title-wraper h1{
  font-size: 24px;
  text-align: center;
}

header .content-wraper{
  width: 100%;
  height: 400px;
  background-image: url(../../../../public//images/09b1a20191a57e504bf41c599dbaca80.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -50px;
  position: relative;
}

header .content-wraper::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header .content-wraper .container-text{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 6% 0 0 19%;
}

header .content-wraper .text-wraper{
  width: 557px;
  height: 211px;
  color: white;
  padding: 10px;
}

.content-wraper .text-wraper header{
  display: flex;
}

.content-wraper .text-wraper header .text{
  padding: 1% 0 0 1%;
  font-weight: 500;
}

.content-wraper .text-wraper .description{
  width: 100%;
  margin: 20px 0 0 0;
}

.text-wraper .description .description-title h2{
  font-weight: 500;
  font-size: 30px;
}

.text-wraper .description .description-text{
  margin-top: 20px;
}

.text-wraper .description .description-text h4{
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
}

.container > section{
  width: 100%;
  height: 100%;
  font-family: "Archivo", sans-serif;
}

section .container-centralize{
  width: 85%;
  margin: 0 auto;
}

section .container-centralize header{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .container-centralize header .text-centralize{
  width: 55%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.container-centralize header .text-centralize .title-centralize{
  width: 100%;
  min-height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
}

.container-centralize header .text-centralize .title-centralize h2{
  font-size: 32px;
}

.container-centralize header .text-centralize .text-centralize-sub{
  width: 100%;
  min-height: 65%;
}

.container-centralize header .text-centralize .text-centralize-sub p{
  font-size: 24px;
  text-align: center;
}

.container-centralize section.container-products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.container-centralize section.container-products .product-wraper{
  width: 100%;
  max-width: 384px;
  height: 400px;
}

@media screen and (min-width: 3200px){
  header .content-wraper .container-text{
    padding: 2% 0 0 15%;
  }
}

@media screen and (max-width: 1470px){
  .container-centralize section.container-products{
    gap: 7.3%;
  }

  .container-centralize section.container-products .product-wraper{
    width: 100%;
    max-width: 336px;
  }
}

@media screen and (max-width: 1325px){
  section .container-centralize{
    width: 90%;
  }

  .container-centralize section.container-products .product-wraper{
    min-width: 319px;
    max-width: 319px;
  }
}

@media screen and (max-width: 1190px){
  section .container-centralize{
    width: 100%;
  }

  section .container-centralize header .text-centralize{
    width: 70%;
  }

  .container-centralize section.container-products{
    justify-content: center;
  }
}

@media screen and (max-width: 850px){
  header .content-wraper .container-text{
    padding: 10% 0 0 3%;
  }

  header .content-wraper .text-wraper{
    height: 152px;
  }

  .content-wraper .container-text .text-wraper header .svg-wraper{
    width: 24px;
    height: 24px;
  }

  .content-wraper .container-text .text-wraper header .svg-wraper svg{
    width: 100%;
    height: 100%;
  }

  .container-text .text-wraper header .text h4{
    font-size: 16px;
  }

  .container-text .text-wraper .description .description-title h2{
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: -10px;
  }

  .container-text .text-wraper .description .description-text h4{
    font-size: 14px;
    line-height: initial;
  }

  section .container-centralize header .text-centralize .title-centralize h2{
    font-size: 24px;
    margin-top: 30px;
  }

  section .container-centralize header .text-centralize .text-centralize-sub p{
    font-size: 16px;
  }

  .container-centralize section.container-products{
    margin-top: -80px;
  }
}

@media screen and (max-width: 830px){
  header .title-wraper h1{
    font-size: 16px;
  }

  header .content-wraper{
    background-position: center;
  }

  section .container-centralize header{
    padding: 30px 0;
    height: auto;
  }

  .container-centralize section.container-products{
    margin-top: 0;
  }
}

@media screen and (max-width: 500px){
  .container > header .title-wraper h1{
    font-size: 14px;
  }

  header .content-wraper .container-text{
    padding: 22% 0 0 8%;
  }

  header .content-wraper .text-wraper{
    max-width: 308px;
  }

  .container-text .text-wraper .description .description-title h2{
    padding-top: 10px;
  }

  section .container-centralize header .text-centralize{
    width: 90%;
  }
}
